*{
    margin:0px;
    padding:0px;

}

.contendor{
    width:303px;
    background:pink;
}
.contendor2{
    width:100%;
    background:pink;
}

.capsa{
    border:solid 1px black;
    width:150px;
    height:150px;
    background:#baedad;

}

#caja1{
    float:right;
    height:300px;
}

.left{
    float:left;

}

#caja5{
    visibility:hidden;
}

.clear{
    clear:left;

}

#zindex{
    width:50%;
    height:30%;
    background:pink;

}


.zindex{
    width:300px;
    height:250px;
    border:1px solid black;
    background:#E724C4;

}

p:hover { 
  z-index: 3; 
}


.capsa1{
    position:absolute;
    top:165%;
    left:16%;

}
.capsa2{
    position:absolute;
    top:195%;
    left:26%;

}
.capsa3{
    position:absolute;
    top:135%;
    left:6%;

}
